header {
    display: flex;
    justify-content: space-between;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: azure;
}

header nav a {
    margin-left: 25px;
    color: var(--primary-color);
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: grey;
   }

header h1 {
    font-size: 48px;
    color: var(--primary-color);
}

.hero {
    height: 400px;
    width: 30%; 
    margin-bottom: 25px;
    background-image: url("../images/WendyPic.jpg");
    background-size: cover;
    background-position: center;
}

aside {
    float: left;
    margin: 10px;
    }

section {
    display: inline-block;
    border: 1px solid black;
    width: 75%;
}

main {
    display: inline;
    border: 1px;
    width: 100%;
}

p {
    font-size: 16px;
    margin-inline: 10%;
    color: var(--primary-color);
}

.run-buddy {
    margin-left: 25px;
    height: 200px;
    width: 20%;
}

.refactor {
    margin-left: 25px;
    height: 200px;
    width: 20%;
    }

/* mouse is hovering */
div:hover {
    background: grey;
  }

.hero:hover {
    background: no-repeat;
}

.refactor {
    flex-grow: 2;
}

.run-buddy {
    flex-grow: 1;
}


.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h3 {
    font-size: 20px;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
      color: tomato;
    }
  }
  
  /* MEDIA QUERY FOR TABLETS AND SMALLER */
  @media screen and (max-width: 768px) {
    header {
      font-size: 80px;
    }
  }
  
  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {
    header {
      font-size: 100px;
    }
  }

  /* Add CSS variable for primary color */
  :root {
      --primary-color: purple;
  }